body {
    font-family: 'Times New Roman', Times, serif;
    background: cadetblue;
}

h1,
h2 {
    font-family: 'Roboto Mono', monospace, serif;
    font-size: 16px;

}

header h1 {
    font-size: 40px;
}

blockquote {
    background: gray;
    border: 10px solid #C2CCCA;
    padding: 20px;
}


p {
    text-align: justify;
    margin-right: 30px;
}

aside {
    background: #3C1D3D;
}

nav {
    padding: 20px;
    text-align: center;
}

nav h2 {
    color: #F2FFFC;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside a {
    color: #F2FFFC;
}

section {
    margin-bottom: 150px;
    padding: 20px;
}

footer {
    background: black;
    color: #F2FFFC;
}

table {
    border: 4px solid blue;
    border-collapse: collapse;
}

td {
    border: 4px solid blue;
    padding: 5px 10px;
    text-align: center;
}

thead {
    background-color: lightcoral;
}

th {
    border: 4px solid blue;
}

tfoot {
    background-color: lightgreen;
}

.alin-text-center {
    text-align: center;
}

.center {
    display: block;
    margin: auto;
    margin-right: auto;
}


.titulo {
    background: purple;
    border-bottom: 10px solid black;
    padding: 25px;
    color: #F2FFFC;
}

.break-line-bottom {
    margin-bottom: 10px;
}


.icones-sociais {
    flex-direction: row;
    justify-content: space-between;
}

.icones-sociais a {
    width: 40px;
    height: 40px;
    text-transform: lowercase;
    display: flex;
}

.github {
    background-image: url('../images/github.png');

}

.twitter {
    background: url('../images/twitter.png');
    background-size: 40px;
}

.linkedin {
    background: url('../images/linkedin.png');
    background-size: 40px;
}


/** GRID DO MAIN**/
header {
    grid-area: hd;
}

aside {
    grid-area: nv;
}

main {
    grid-area: main;
}

footer {
    grid-area: ft;
}

.grid-container {
    display: grid;
    grid-template-areas: "hd   hd"
        "main nv"
        "ft   ft";
    grid-template-rows: auto 85% auto;
    grid-template-columns: 80% 20%;
}

/** END GRID DO MAIN**/

/** GRID DAS SECTIONS**/
h2 {
    grid-area: ti;
}

p {
    grid-area: par;
}

blockquote {
    grid-area: cit;
}

.grid-container-section {
    display: grid;
    grid-template-areas: "ti   ti"
        "par  cit";
    grid-template-rows: 20% 80%;
    grid-template-columns: 70% 30%;
}

/** END GRID DAS SECTIONS**/